# Discord Developer OAuth2 configurations
# Retrieve Client ID from Discord Developer Portal (https://discord.com/developers/applications)
DISCORD_CLIENT_ID=your_discord_client_id_here
DISCORD_REDIRECT_URI=http://localhost:5173/auth/callback

# Steam Web API Key (Retrieve from https://steamcommunity.com/dev/apikey)
STEAM_API_KEY=your_steam_web_api_key

# Docker Hub Credentials (used for CI/CD builds)
DOCKERHUB_USERNAME=your_dockerhub_username_here
